<h1>Create a Product</h1>

<%= form_tag products_path(@product) %>
  <%= label_tag :'product[:name]', "Name" %>
  <%= text_field_tag :'product[:name]' %><br>

  <%= submit_tag "add product" %>
<% end %>
